.access {
  text-align: center;
  padding: 175px 0;
  background: var(--input-bg);
  &__title {
    font-size: 62px;
    line-height: 75px;
    margin: 0 0 55px 0;
  }
  &__button {
    padding: 21px 24px;
    border: 1px solid var(--white);
    background: transparent;
    font-size: 18px;
    transition: var(--transition);
  }
  &__button:hover {
    box-shadow: var(--box-shadow);
  }
}

@media screen and (max-width: 1000px) {
  .access {
    &__title {
      font-size: 40px;
      line-height: 55px;
      margin: 0 0 30px 0;
    }
    &__button {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 700px) {
  .access {
    padding: 120px 20px;
  }
}
