.header {
  margin: 25px 0 0 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__main {
    display: flex;
    align-items: center;
  }
  &__title {
    color: var(--white);
    font-size: 24px;
    font-weight: 800;
    white-space: nowrap;
  }
  &__aside__button {
    line-height: 58px;
    font-size: 18px;
    color: var(--white);
    padding: 0 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: "Manrope";
    &.active {
      padding: 0 45px;
      border-radius: 5px;
      background: var(--orange);
    }
  }
  &__aside {
    display: flex;
    align-items: center;
    position: relative;
    &__menu {
      display: none;
      position: absolute;
      padding: 20px 25px;
      top: 70px;
      right: 0;
      border-radius: 5px;
      background: var(--input-bg);
    }
    &__icon {
      display: none;
      transition: transform 0.2s;
      &.flip {
        transform: scale(0.8);
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .header {
    &__navbar {
      display: none;
    }
    &__aside {
      &__icon {
        display: flex;
        margin: 0 10px;
      }
      &__menu {
        display: flex;
      }

      &__button {
        padding: 0 20px;
        &.active {
          padding: 0 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__title {
      margin: 0 20px 0 0;
    }
  }
}
