.footer {
  color: var(--white);
  background: var(--input-bg);
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__rights {
    text-align: center;
    font-size: 12px;
    padding: 90px 0 30px 0;
  }
  &__column {
    &__title {
      font-size: 14px;
      margin: 0 0 35px 0;
    }
    &__links {
      display: flex;
      flex-direction: column;
      gap: 25px;
      font-size: 12px;
    }
    &__link {
      color: var(--white);
      text-decoration: none;
    }
    &__main {
      font-weight: 800;
      font-size: 45px;
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    &__column {
      justify-content: space-evenly;
      &__main {
        display: none;
      }
    }
  }
}
