.header {
  &__nav {
    display: flex;
    font-size: 18px;
    margin: 0 0 0 70px;
    gap: 34px;
    &__link {
      text-decoration: none;
      border: none;
      background: transparent;
      font-family: "Manrope";
      font-size: 18px;
      color: var(--white);
    }
  }
}

@media screen and (max-width: 920px) {
  .header {
    &__nav {
      margin: 0;
      &__link {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
